
/*--------------estilos da função de lista de custom posts--------------*/
.table_data{/*tag table gerada no shortcodes.php*/
	margin: 0 auto;
	text-align: center;
	color: black;
}

.table_data th, .table_data td{/*tags th e dt geradas no shortcodes.php*/
	border: 2px solid black;
	padding-left: 7px; padding-right: 7px;
}